<section class="full-page page-1 back-image" style='height: {{winHeight}}px;'>
	<img class="banner" src="./images/banner.png" />
	<div class="bottom-box back-image" style="">
		<div class="inner-box back-image">
			<img src="./images/monkey1.png" />
		</div>
	</div>
	<div class="buttons">
		<button id="btnClickmeToXO">
		<img src="./images/btn-begin.png" />
		</button>
	</div>
</section>
<section class="full-page page-2 back-image" style='height: {{winHeight}}px;'>
	<img src="./images/flower.png" class="flower" />
	<div class="top-box">
		<div class="avatar-box back-image">
			<img class="avatar" src="./images/avatar.png" />
			<span class=" y1">
				<img class="" src="./images/y.png" />
			</span>
			<span class=" y2">
				<img class="" src="./images/y.png" />
			</span>
			<span class=" y3">
				<img class="" src="./images/y.png" />
			</span>
			<span class=" y4">
				<img class="" src="./images/y.png" />
			</span>
			<span class=" y5">
				<img class="" src="./images/y.png" />
			</span>
			<span class=" y6">
				<img class="" src="./images/y.png" />
			</span>
		</div>
	</div>
	<form class="form-names">
		<div class="form-row back-image">
			<input id="name1" class="name" type="text" placeholder="输入我的大名" />
		</div>
		<div class="form-row  back-image">
			<input id="name2" class="name" type="text" placeholder="输入TA的大名" />
		</div>
		
	</form>
	<div class="bottom-box back-image">
		<button id="btnXXOO" class="btn-xxoo">
		<img src="./images/btn-xxoo2.png" />
		</button>
	</div>
</section>